* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
}
/* Navbar  */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  background: none;
}
.navbar-brand {
  color: orange;
  margin-left: 5%;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item .nav-link {
  font-size: 18px;
}
.aboutus-banner {
  width: auto;
  height: auto;
}
.navbar .nav-link {
  color: white;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: orange;
  text-decoration: underline;
}
.navbar-toggler {
  background-color: white;
  color: white;
}
.navbar-brand:hover {
  color: white;
}
/* Navbar end */
/* Hero */
#Home img {
  object-fit: cover;
  min-height: 95vh;
}
#Home .content {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%);
}
#Home .content .shape {
  letter-spacing: 6px;
  font-size: 2rem;
  text-transform: uppercase;
}

#Home .content .orange {
  color: orange;
  text-transform: uppercase;
}

.e-logo {
  width: 50px;
  height: 50px;
}
.fw-bolder {
  margin-top: 20px;
}
.call {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.btn {
  color: white;
  background-color: orange;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
}
.btn-home {
  display: inline-block;
  border: none;
  background: orange;
  color: wheat;
  font-size: 15px;
  padding: 10px 22px;
  text-transform: uppercase;
}
/* Hero End */

/* About us  */
.about-us {
  color: white;
  background: rgb(14, 13, 13);
}

/* why */
#why-choose {
  color: white;
  background: rgb(121, 115, 115);
  padding-bottom: 10px;
}

/* call to action */
.calltoaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: orange;
  padding: 25px;
}
.left {
  font-size: 3rem;
  font-weight: bold;
}
.right {
  font-weight: bold;
  font-size: x-large;
}
/* End */

/* card-img-top */

/* card-img-top */
/* .class-title {
  margin-top: 5%;
}
.card-group {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

.card-img-top {
  margin: auto;
  width: 100px;
  margin-top: -60px;
  overflow: hidden;
  border-radius: 50%;
}

.card-read-more {
  padding: 10px;
  background-color: rgb(209, 252, 21);
}

.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
} */

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
  margin-top: 40px;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
  width: 100px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  margin-top: -50px;
}

.img-card img {
  width: 100%;
  object-fit: cover;
  transition: all 0.25s ease;
}

.content {
  font-style: italic;
  font-size: 12px;
}

.card-title {
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  font-size: 20px;
}

.card-title a {
  color: #e21414;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #d4d4d4;
  background-color: orange;
}

.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
/* Price title */
/* .price {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: 2px underline orange;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}
/* .card {
  box-shadow: 5px 10px 10px 15px rgba(182, 179, 179, 0.75);
} */
/* .price-text {
  font-size: 2rem;
  font-weight: bold;
}  */

/* BMI */
.bmi-img {
  background: linear-gradient(rgba(10, 10, 10, 0.5), #111111d3),
    url(/img/hero/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.right-text {
  font-size: 2rem;
}

/* Trianer */
/* trainer */
.trainer-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5%;
}
.trainer-texttwo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.t-sp {
  color: orange;
}
.trainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.first img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
/* last about */
.last-about {
  margin: auto;
  background-image: url(/img/hero/GX1.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}
/* testimonial */
.testimonial {
  margin-top: 5%;
}

.fbb {
  margin-top: 25%;
}

.tn {
  display: flex;
  flex-direction: column;
}
.tn-btn {
  width: 100%;
  padding: 20px;
  margin-top: -40px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
}
.tn-btn:hover {
  background-color: red;
  color: white;
}

/*  */
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  margin: auto;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgb(8, 8, 8);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 10px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

/* contact us */
